extends ../layout_app

block content_app
    .signup-content
        .signup-title
            h1 Editar perfil
        .signup-form
            form(action="/user?_method=PUT", method="POST")
                .signup-input
                    input(type="text" name='fullname' placeholder="Nombre completo" value="#{user.fullname}")
                .signup-input
                    input(type="text" name='email' placeholder="Email" value='#{user.email}')
                .signup-select
                    if user.school 
                        select.school(name="school")
                            option(value='#{user.school}' selected) #{user.school}
                    else
                        select.school(name="school")
                            option(value='vacio' selected) Seleccionar escuela
                            for school in schools
                                option(value='#{school.school}') #{school.school}
                if user.typeuser != 'Acudiente'
                    .signup-select
                        if user.matter
                            select.matter(name="matter")
                                option(value='#{user.matter}' selected) #{user.matter}
                        else
                            select.matter(name="matter")
                                option(value='vacio' selected) Seleccionar materia
                                - var matters = ['Español', 'Matematicas', 'Sociales']
                                each matter in matters
                                    option(value='#{matter}') #{matter}
                    .signup-select
                        if user.grade
                            select.grade(name="grado")
                                option(value='#{user.grade}' selected) #{user.grade}
                        else
                            select.g(name="grado")
                                option(value='vacio' selected) Grado
                                - for(var i = 1; i < 12; i++)
                                    option(value="#{i}") #{i}
                            select.s(name="salon")
                                option(value='vacio' selected) Salon
                                - for(var i = 1; i < 5; i++)
                                    option(value="#{i}") #{i}
                else
                    if !user.son
                        .signup-input
                            input(type="text" name='son' placeholder="Nombre de usuario del alumno") 
                    else
                        .signup-input
                            input(type="text" name='son' placeholder="Nombre de usuario del alumno" value='#{user.son}') 
                .signup-button          
                    input.signup-button-1(type="submit" value='Guardar')