extends layout_student

block content_student
    .main-content
        .main-data
            .data-avatar
                p.data-user Hola, #{user.name + ' ' + user.lastname}
                p.data-username @#{user.username}
                p.data-type #{user.typeuser}
            .data-links
                h4.links-title Informacion
                a.links-item(href="/app/notas/new") 
                    h4  Subir nota 
                a.links-item(href="/app/notas")
                    h4 Historial Notas 
        .main-nota
            h1 Todas mis notas
            p.nota-subtitle Apareceran notas de todos tus profesores
            for nota in notas
                h3= nota.task + ' : ' + nota.note
                if(typeof nota.profesor != "undefined")
                    p Por @#{nota.teacher}
        .main-publicidad
            .publicidad-item
                a(href="#") 
                    img(src="images/1.png", alt="")
            .publicidad-item
                a(href="#")  
                    img(src="images/1.png", alt="")                   