extends layout_student

block content_student
    .main-content
        .main-data
            .data-avatar
                p.data-user Hola, #{user.name + ' ' + user.lastname}
                p.data-username @#{user.username}
                p.data-type #{user.typeuser}
            .data-links
                h4.links-title Informacion
                a.links-item(href="/app/list") 
                    h4  Mis notas
        .main-nota
            h1.nota-title Ultimas Notas
            p.nota-subtitle Apareceran notas superiores a 4.8
            for nota in notas
                if(nota.note > 4.8 )
                    .nota-item
                        if(typeof nota.profesor != "undefined")
                            b.nota-fullname #{nota.teacher.name + ' ' + nota.teacher.lastname} 
                            s.nota-username @#{nota.teacher.username} 
                            br
                        p.nota-parrafo= nota.task
                        span.nota-footer Estudiante: @#{nota.student} 
                        b.nota Nota: #{nota.note}
                        br
        .main-publicidad
            .publicidad-item
                a(href="#") 
                    img(src="images/1.png", alt="")
            .publicidad-item
                a(href="#")  
                    img(src="images/1.png", alt="")                   