extends layout_student

block content_student
    .main-content
        .main-data
            .data-avatar
                p.data-user Hola, #{user.name + ' ' + user.lastname}
                p.data-username @#{user.username}
                p.data-type #{user.typeuser}
            .data-links
                h3.links-title Informacion
                ul
                    li: a.links-item(href="/app/notas/new") Subir nota 
                    li: a.links-item(href="/app/notas") Historial Notas 
        .main-nota
            for nota in notas
                a(href=href="/app/notas/#{nota._id}/")
                    h3= nota.task + ' : ' + nota.note
                    if(typeof nota.profesor != "undefined")
                        p Por @#{nota.teacher}
        .main-publicidad
            .publicidad-item
                a(href="#") 
                    img(src="images/1.png", alt="")
            .publicidad-item
                a(href="#")  
                    img(src="images/1.png", alt="")                   