extends layout_app

block content_app
    .main-content
        .main-avatar
            strong Hola, #{user.name + ' ' + user.lastname}
            p @#{user.username}
            p #{user.typeuser}
        .main-links
            h3 Informacion
            a(href="/app/notas/new") Subir nota 
            a(href="/app/notas") Historial Notas 
        for nota in notas
            .main-nota
                if(nota.student.task.nota > 3.9 )
                    strong= nota.student.task.description + ': ' + nota.student.task.nota
                    if(typeof nota.profesor != "undefined")
                        p Profesor #{nota.profesor.name  + ' ' + nota.profesor.lastname } | Estudiante #{nota.student.name + ' ' + nota.student.lastname}
        .main-links
            h3 Publicidad
            a(href="#") 
                p TeamCRUD
            a(href="#") TecnoPC
                      