extends layout_app

block content_app
    .main-content
       .main-data
            .data-avatar
                p.data-user Hola, #{user.name + ' ' + user.lastname}
                p.data-username @#{user.username}
                p.data-type #{user.typeuser}
            .data-links
                h3.links-title Informacion
                ul
                    li: a.links-item(href="/app/notas/new") Subir nota 
                    li: a.links-item(href="/app/notas") Historial Notas 
        .main-nota
            h1 Mejores notas
            p.nota-subtitle Apareceran notas superiores a 4
            for nota in notas
                if(nota.note > 3.9 )
                    a(href=href="/app/notas/#{nota._id}/")
                        h3= nota.task + ' : ' + nota.note
                        if(typeof nota.profesor != "undefined")
                            p Por @#{nota.profesor.username} | Estudiante: @#{nota.student}
         .main-publicidad
            .publicidad-item
                a(href="#") 
                    img(src="images/1.png", alt="")
            .publicidad-item
                a(href="#")  
                    img(src="images/1.png", alt="")