extends layout_app

block content_app
    .main-content
       .main-data
            .data-avatar
                p.data-user Hola, #{user.name + ' ' + user.lastname}
                p.data-username @#{user.username}
                p.data-type #{user.typeuser}
            .data-links
                h4.links-title Informacion
                a.links-item(href="/app/notas/new") 
                    h4 Subir nota 
                a.links-item(href="/app/notas") 
                    h4 Historial Notas 
        .main-nota
            h1.nota-title Mejores notas
            p.nota-subtitle Apareceran notas superiores a 4.8
            for nota in notas
                if(nota.note > 4.8 )
                    .nota-item
                        if(typeof nota.profesor != "undefined")
                            b.nota-fullname #{nota.profesor.name + ' ' + nota.profesor.lastname} 
                            s.nota-username @#{nota.profesor.username} 
                            br
                        p.nota-parrafo= nota.task
                        span.nota-footer Estudiante: @#{nota.student} 
                        b.nota Nota: #{nota.note}
                        br
         .main-publicidad
            .publicidad-item
                a(href="#") 
                    img(src="images/1.png", alt="")
            .publicidad-item
                a(href="#")  
                    img(src="images/1.png", alt="")