extends ../layout_app

block content_app
    .main-content
        .main-data
            .data-avatar
                form(action="/app/#{user.username}?_method=PUT", method="POST")
                    input(type="text" name='fullname' placeholder="Nombre completo" value="#{user.fullname}")
                    input(type="text" name='email' placeholder="Email" value='#{user.email}')
                    if user.school 
                        p= user.school
                    else
                        label Escuela #[br]
                        select(name="school")
                            option(value='vacio' selected) seleccionar
                            - var schools = ['I.E Cecilia de Lleras']
                            each school in schools
                                option(value='#{school}') #{school}
                    if user.matter
                        label Materia #[br]
                        select(name="matter")
                            option(value='#{user.matter}' selected) #{user.matter}
                            - var matters = ['Español', 'Matematicas', 'Sociales']
                            each matter in matters
                                option(value='#{matter}') #{matter}
                    else
                        label Materia #[br]
                        select(name="matter")
                            option(value='vacio' selected) seleccionar
                            - var matters = ['Español', 'Matematicas', 'Sociales']
                            each matter in matters
                                option(value='#{matter}') #{matter}
                    if user.grade
                        label Grado #[br]
                        select(name="grado")
                            option(value='#{user.grade}' selected) #{user.grade}
                    else
                        label Grado #[br]
                        select(name="grado")
                            option(value='vacio' selected) Grado
                            - for(var i = 1; i < 12; i++)
                                option(value="#{i}") #{i}
                        select(name="salon")
                            option(value='vacio' selected) Salon
                            - for(var i = 1; i < 5; i++)
                                option(value="#{i}") #{i}
                    input(type="submit" value='Guardar')