extends layout_app

block content_app
    .main-content
        .main-data.hideL
            .data-avatar
                include ../includes/avatar/avatar_data
            .data-links
                include ../includes/avatar/profesor_links
        .main-nota
            h1.nota-title Mejores notas
            p.nota-subtitle Apareceran notas superiores a 4.8
            if user.grade
                - var note = false
                for task in tasks
                    if task.note > 4.8 
                        .nota-item
                            if typeof task.profesor != "undefined"
                                b.nota-fullname #{task.profesor.fullname} 
                                s.nota-username #[a(href="/app/#{task.teacher.username}") @#{task.profesor.username}]
                                br
                            p.nota-parrafo #{task.task} #[br]
                            span.nota-footer Estudiante: #[a(href="/app/#{task.student}") @#{task.student}] 
                            b.nota | Nota: #{task.note} #{br}
                            - note = true
                if !note
                    p Ningun profesor ha subido nota
            else
                 p No has asignado tu grado
        //include ../includes/ads   