extends layout_app

block content_app
    .main-content
        .main-data
            .data-avatar
                include ../includes/avatar/avatar_data
            .data-links
                include ../includes/avatar/profesor_links
        .main-nota
            h1.nota-title Mejores notas
            p.nota-subtitle Apareceran notas superiores a 4.8
            for nota in notas
                if(nota.note > 4.8 )
                    .nota-item
                        if(typeof nota.profesor != "undefined")
                            b.nota-fullname #{nota.profesor.name + ' ' + nota.profesor.lastname} 
                            s.nota-username @#{nota.profesor.username} 
                            br
                        p.nota-parrafo= nota.task
                        span.nota-footer Estudiante: @#{nota.student} 
                        b.nota Nota: #{nota.note}
                        br
         include ../includes/ads   