extends layout_parent

block content_parent
   .main-content
        .main-data
            .data-avatar
                include ../includes/avatar/avatar_data
            .data-links
                include ../includes/avatar/acudiente_links
        .main-nota
            h1.nota-title Ultimas Notas
            p.nota-subtitle Apareceran notas superiores a 4.8
            for nota in notas
                if(nota.note > 4.8 )
                    .nota-item
                        if(typeof nota.profesor != "undefined")
                            b.nota-fullname #{nota.teacher.name + ' ' + nota.teacher.lastname} 
                            s.nota-username @#{nota.teacher.username} 
                            br
                        p.nota-parrafo= nota.task
                        span.nota-footer Estudiante: @#{nota.student} 
                        b.nota Nota: #{nota.note}
                        br
        .main-publicidad
            .publicidad-item
                a(href="#") 
                    img(src="images/1.png", alt="")
            .publicidad-item
                a(href="#")  
                    img(src="images/1.png", alt="")        