extends ../layout_student

block content_student
    .signup-content
        .signup-title
            h1 Editar perfil
        .signup-form
            form(action="/app/#{user.username}?_method=PUT", method="POST")
                .signup-input
                    input(type="text" name='fullname' placeholder="Nombre completo" value="#{user.fullname}")
                .signup-input
                    input(type="text" name='email' placeholder="Email" value='#{user.email}')
                .signup-select
                    if user.school 
                        select.school(name="school")
                            option(value='#{user.school}' selected) #{user.school}
                    else
                        select.school(name="school")
                            option(value='vacio' selected) Seleccionar escuela
                            - var schools = ['I.E Cecilia de Lleras']
                            each school in schools
                                option(value='#{school}') #{school}
                .signup-select
                    if user.grade
                        select.grade(name="grado")
                            option(value='#{user.grade}' selected) #{user.grade}
                    else
                        select.g(name="grado")
                            option(value='vacio' selected) Grado
                            - for(var i = 1; i < 12; i++)
                                option(value="#{i}") #{i}
                        select.s(name="salon")
                            option(value='vacio' selected) Salon
                            - for(var i = 1; i < 5; i++)
                                option(value="#{i}") #{i}
                .signup-button          
                    input.signup-button-1(type="submit" value='Guardar')