if user.typeuser == "school" || user.typeuser == "Profesor" 
    h1.title Mejores notas
    p.subtitle Apareceran notas superiores a 4.8
else
    h1.title Tareas
    p.subtitle Todas las tareas de tus profesores
if user.grade || user.typeuser == "school" 
    - var new_task = false
    for task in tasks
        if user.typeuser == "school" || user.typeuser == "Profesor" 
            if task.note > 4.8 
                 .task-item
                    if typeof task.profesor != "undefined"
                            b.fullname-task #{task.teacher.fullname} 
                            s.username-task #[a(href="/app/#{task.teacher.username}") @#{task.teacher.username}] #[br] 
                    a.task-main(href='/task/#{task._id}') #{task.task} #{br}
                    .task-note
                        b #{task.student} - Nota: #{task.note} 
        else
            if task.note == null
                .task-item
                    if typeof task.profesor != "undefined"
                        b.fullname-task #{task.teacher.fullname} 
                        s.username-task #[a(href="/app/#{task.teacher.username}") @#{task.teacher.username}] #[br] 
                    a.task-main(href='/task/#{task._id}')= task.task
                    .task-matter
                        b #{task.matter} / #{task.grade}
        - new_task = true
            
    if !new_task
        p.description Ningun profesor ha subido tarea
else
    p.description No has asignado tu grado