extends ../layout_app

block content_app
    .note-content
        .main-note-title
            h1.note-title #{user.matter} / #{user.grade}ยบ
            p.note-subtitle Tareas y notas 
        - var note = false
        for task in tasks
            if task.profesor.username = user.username
                .main-note
                    .main-note-title
                        p.note-description #{task.task}, Nota: #{task.note}, #{task.porcentage}%
                    .main-note-button
                        a.note-button-1(href="/app/task/note/#{task._id}/edit") Editar
                    .main-note-button
                        form(action="/app/task/#{task._id}?_method=DELETE", method="POST")
                            input.note-button-2(type="submit", value="Eliminar")   
                        - note = true
        if !note
            p No has subido notas          