extends ../layout_app

block content_app
        if user.typeuser == 'Profesor'
            .note-content
                .main-note-title
                    h1.note-title #{user.matter} / #{user.grade}ยบ
                    p.note-subtitle Tareas y notas 
                - var note = false
                for task in tasks
                    if task.profesor.username = user.username
                        .main-note
                            .main-note-title
                                p.note-description #{task.task}, Nota: #{task.note}, #{task.porcentage}%
                            .main-note-button
                                a.note-button-1(href="/note/#{task._id}/edit") Editar
                            .main-note-button
                                form(action="/note/#{task._id}?_method=DELETE", method="POST")
                                    input.note-button-2(type="submit", value="Eliminar")   
                                - note = true
                if !note
                    p No has subido notas      
        else
            .list-content
                .list-title
                    h1 Lista de Notas
                    b Apareceran notas de todo tus profesores
                .list-task
                    if tasks.length == 0
                        p No ha subido notas refentes a ti
                    else
                        - var profe = false
                        for task in tasks
                            if task.teacher.username == profesor
                                if task.note <= 3.25 
                                    p Tarea: #{task.task}, #[b.low Nota: #{task.note}]
                                if task.note >= 3.25 && task.note < 4
                                    p Tarea: #{task.task}, #[b.medium Nota: #{task.note}]
                                if task.note > 4
                                    p Tarea: #{task.task}, #[b.high Nota: #{task.note}]
                                - profe = true
                        if !profe
                            p No ha subido notas refentes a ti