extends ../layout_app

block content_app
    h1 #{user.fullname} / #{user.grade}ยบ
    b Tareas y notas 
    for task in tasks
        p Tarea: #{task.task}, Nota: #{task.note} #[a.show-button-1(href="/app/task/note/#{task._id}/edit") Editar]
         